.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 800px;
  height: 600px;
  border: 1px solid #333;
  box-sizing: border-box;
}

.target {
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #ee8;
  color: #333;
  font-weight: bold;
  border: 1px solid #333;
  box-sizing: border-box;
  z-index: 1000;
}

.target2 {
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #ee8;
  color: #333;
  font-weight: bold;
  border: 1px solid #333;
  box-sizing: border-box;
  z-index: 1000;
}
